/* facebox
  ------------------------------------------------------------ */
#facebox .b {background:url(/images/facebox/b.png);}
#facebox .tl {
  background:url(/images/facebox/fbx-border-sprite.png) 0 0;
  width: 10px; height: 10px;
}
#facebox .tr {
  background:url(/images/facebox/fbx-border-sprite.png) -10px 0;
  width: 10px; height: 10px;
}
#facebox .bl {
  background:url(/images/facebox/fbx-border-sprite.png) -20px 0;
  width: 10px; height: 10px;
}
#facebox .br {
  background:url(/images/facebox/fbx-border-sprite.png) -30px 0;
  width: 10px; height: 10px;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .popup {
  position: relative;
}
#facebox table {
  border-collapse: collapse;
  /* ie 6 hack -- if the global table width is set to anything it could cause us issues*/
  -width:0%;
}
#facebox td {
  border-bottom: 0;
  padding: 0;
}
#facebox .body {
  padding: 10px;
  background: #fff;
  width: 600px;
}
#facebox .content {
  overflow:hidden;
}
#facebox .loading {
  text-align: center;
  width: 370px;
}
#facebox .image {
  text-align: center;
}
#facebox .footer {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
  margin-bottom:10px;
  text-align: center;
  overflow:hidden;
}
#facebox .footer a {float:right}
#facebox .footer img {
  vertical-align: middle;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression("document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'");
}

/* top fixed admin bar
  ------------------------------------------------------------ */
table#top-bar{
  width:99%;
  margin:auto;
  height:25px;
  background:#e9e9e9;
  border:1px solid #ccc;
  border-top:0;
  border-collapse:collapse;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
table#top-bar td{
  height:20px;
  overflow:hidden;
}

ul#admin-links {
  list-style:none;
  padding:5px;
}
ul#admin-links li {
  display:inline;
  margin-right:10px;
}
ul#admin-links li a {
}


/* page tab navigation 
  ------------------------------------------------------------ */
ul#page-tabs, ul#widget-tabs {
  clear:both;
  list-style:none;
  padding-bottom:5px;
  padding-left:10px;
}
ul#page-tabs li, ul#widget-tabs li { display:inline;}
ul#page-tabs li a,
ul#widget-tabs li a{
  position:relative;
  top:5px;
  padding:5px 12px;
  margin-right:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  background:#eee;
  border:1px solid #ddd;
  border-bottom:0;
  color: #666666;
  font-size:13px;
  text-decoration: none;
  font-weight:bold;
}
ul#page-tabs li a:hover,
ul#page-tabs li a.active,
ul#widget-tabs li a:hover,
ul#widget-tabs li a.active{
  padding:6px 12px;
  background:#333;
  border:0;
  color:#fff; /* pink ff7676 */
  text-decoration:none;
  /* CSS 3 DROP SHADOW */
  -moz-box-shadow: 1px -1px 4px #eee;
  -webkit-box-shadow: 2px -2px 4px #eee;
  box-shadow: 1px -1px 4px #eee;
}

.tab-content, .widget-tabs {
  min-height:200px;
}

ul#widget-tabs {
  margin-bottom:10px;
  border-bottom:1px solid #555;
}
/* form elements
  ------------------------------------------------------------ */
form input {padding:3px; border:1px solid #555; }
form fieldset {margin-bottom:10px;}
form textarea {width:90%;height:100px;}
form label {font-size:14px;}
div.left-pane{float:left; width:45%}
div.right-pane {float:right; width:50%}
.right-half { float:right; width:48%;}
.left-half { width:48%;}
.right-half img { width:75px; height:75px;}

/* form buttons
  ------------------------------------------------------------ */
.buttons{overflow:auto;}
button{cursor:hand; cursor:pointer;}
.buttons a, .buttons button{
  display:block; border:1px solid #999; 
  background:#ccc;
  text-align:center;
  color:#999;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:1em; line-height:130%; text-decoration:none; font-weight:bold; cursor:pointer; padding:5px 10px 6px 7px; /* Links */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.buttons button{width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */}
.buttons button[type]{padding:5px 10px 5px 7px; /* Firefox */  line-height:17px; /* Safari */}
*:first-child+html button[type]{padding:4px 10px 3px 7px; /* IE7 */}
.buttons button img, .buttons a img{margin:0 3px -3px 0 !important; padding:0; border:none; width:16px;  height:16px;}

/* STANDARD */
button:hover, .buttons a:hover{
color:#fff;
}
.buttons a:active{
background:#6299c5; 
color:#fff;
}

/* POSITIVE */
button.positive, .buttons a.positive{
color:#fff; background:#d1f0b9 url('/images/gradients.jpg') repeat-x 0px -205px; border:1px solid #bde99c;}
.buttons a.positive:hover,
button.positive:hover,
.buttons a.positive:active{
background:orange url('/images/gradients.jpg') repeat-x 0px -250px; border:1px solid orange; }

/* NEGATIVE */
.buttons a.negative, button.negative{background:#333 url('/images/gradients.jpg') repeat-x 0px -15px; border:1px solid #000; color:#fff;		}
.buttons a.negative:hover, button.negative:hover{background-attachment:fixed; background:#d52020 url(../images/gradients.jpg) repeat-x 0px -465px; border:1px solid #cc0000; color:#fff;}
.buttons a.negative:active{background-color:#d12f19; border:1px solid #d12f19; color:#fff;}

/* form status stuff */
fieldset span.star_req{color:red;}
fieldset.field_error {padding:10px !important; background: #fad6d6 !important; -moz-border-radius:7px;-webkit-border-radius:7px;}
fieldset span.error_msg { display: block; color: red; }


/* uploadify
  ------------------------------------------------------------ */
object#asset_dataUploader{

}
object#asset_dataUploader:hover{
  border-right:4px solid green;
  cursor:pointer;
  cursor:cursor;
}
div.upload-info{
  float:right;
  width:220px;
  padding:8px; 
  border-left:1px solid #999;
}
#queue-wrapper{
  margin-top:10px;
  clear:both;
  width:625px;
  height:190px;
  overflow:auto;
  border-top:1px solid #999;
}
.uploadifyQueue,
#queue-container {
  background:#ff;
  overflow:hidden;
}
.uploadifyQueueItem {
  float:left;
  width:100px;
  height:75px;
	font: 11px Verdana, Geneva, sans-serif;
	border:1px solid #eee;
	background-color: #fff;
	margin: 3px;
	padding:5px;
	-webkit-box-shadow:2px 2px 2px #ccc;
	-moz-box-shadow:2px 2px 2px #ccc;
	box-shadow:2px 2px 2px #ccc;
}
#queue-container > div:first-child {
  background:#ffff99;
}
.uploadifyQueueItem .fileSize{
  float:left;
}
.uploadifyQueueItem .cancel {
	float:right;
}
.uploadifyQueueItem input.fileName{
  display:block;
  clear:both;
  margin:0 auto;
  width:90px;
  border:1px solid #eee;
  position:relative;
  top:5px;
  overflow:hidden;
  text-align:center;
  font: 11px Verdana, Geneva, sans-serif;
  color:#333;
}
.uploadifyQueueItem .percentage {
  clear:both;
  display:block;
  text-align:center;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}

.uploadifyProgress {
	background-color: #eee;
	border: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 15px;
}

table.upload-report{
  margin-bottom:8px;
}
table.upload-report td,
table.upload-report th {
  padding:2px 7px;
  border:3px solid #eee;
  font-weight:bold;
}
table.upload-report th {background:#ccc;}
table.upload-report td.good{background:lightgreen;}
table.upload-report td.bad{background:lightpink;}


/* ajax responses
 ---------------------------------------- */
#submitting{
  padding:3px 3px 0 170px;
  text-align:left;
  color:#222;
  background:#ffff99 url('/images/loading.gif') no-repeat 5% 50%;
}
.responding{
  padding:3px 3px 0 3px;
  text-align:center;
}
.loading{
  width:200px;
  margin:auto; margin-top:30px;
  padding-top:20px;
  text-align:center;
  color:#222;
  background:url('http://tastyink.com/images/loading.gif') no-repeat top center;
}
.loading.white{color:#fff}

div.responding.active.good {
  background:green;
  color:#fff;
}
div.responding.active.bad {
  background:red;
  color:#fff;
}
div.responding.active.warn {
  background:orange;
  color:#fff;
}

/* edit slider environment
   ---------------------------------------------------- */   
fieldset.info input {width:200px;}

ul#slides-list {
  margin:auto;
  list-style:none;
  padding:0;
  width:700px; 
}
ul#slides-list li {
  display:block;
  margin-bottom:5px;
  cursor:move;
}
ul#slides-list li div.info {
  width:700px;
  overflow:hidden;
  border:1px dashed #ccc;
  background:#ffffcc;
  padding:4px;
}
ul#slides-list li div.info a {
  display:block;
  width:60px;
  float:right;
  background:#fff;
  text-align:right;
}
ul#slides-list li span {
  display:block;
  float:left;
  width:100px;
}
ul#slides-list li div.edit { display:none;}
ul#slides-list div textarea {
  width:580px;
  height:300px;
  margin:auto;
}  


table.page-head {width:100%; margin-bottom:15px;}
table.page-head td {vertical-align:middle; text-align:center; overflow:hidden;}
table.page-head label {font-weight:bold;}

.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  padding-right: .3em;
  font-size: 10pt;
  font-family: monospace;
  padding-top: .4em;
}
   
