
<h1 class="cufon" style="text-align:center">Get In Good With The Beta!</h1>
<div id="signup">
  <% form_for @user, :url => account_path do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <fieldset>
      <br/>
      <%= f.submit "Register" %>
    </fieldset>
  <% end %>
</div>

