
<div class="right-half">
  <h2>Get In Good With The Beta!</h2>
  <% form_for @user, :url => account_path do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <fieldset>
      <br/>
      <%= f.submit "Register" %>
    </fieldset>
  <% end %>
</div>


